<!-- reademes-index -->
<h1>READMEs</h1>

<a href="/readmes/new">New README</a>
{{#each readmes}}
    <h2><a href="/readmes/{{this._id}}">{{this.name}}</a></h2>
    <small>{{this.description}}</small>
{{/each}}
