<form action="/readmes/{{readme._id}}?_method=PUT" method="post">
    <fieldset>
        <legend>Edit README</legend>
        <!-- Name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" value="{{readme.name}}" class="form-control" id="name" placeholder="Name">
        </div>
        <!-- URL -->
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" name="url" value="{{readme.url}}" class="form-control" id="url" placeholder="https://www.google.com">
        </div>
        <!-- DESCRIPTION -->
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" rows="3" id="description">{{readme.description}}</textarea>
        </div>
        <!-- PUBLICATIONS -->
        <div class="form-group">
            <label for="publications">Publication (EX: Blogpost, article, etc ...)</label>
            <input name="publications" type="text" class="form-control" id="publications" placeholder="https://www.google.com">
        </div>
        <!-- SUBMIT BUTTOM -->
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Save README</button>
        </div>
        <!-- CANCEL LINK -->
        <a href="/">Cancel</a>
    </fieldset>
</form>
